$primary1:#ffffff;
$primary2:#000000;
$primary3:rgba(93,64,55,.8);
$primary4:#5d4037;
$primary5:#8d6e63;
$primary6:#d7ccc8;
$primary7:#fd602c;
$primary8:#263238;

@mixin gradient1{
	background: #ffa726;
	background: -moz-linear-gradient(top, #ffa726 0%, #fb8d02 100%);
	background: -webkit-linear-gradient(top, #ffa726 0%,#fb8d02 100%);
	background: linear-gradient(to bottom, #ffa726 0%,#fb8d02 100%);
}
@mixin  gradient2{
	background: #3e2724;
	background: -moz-linear-gradient(left, #3e2724 0%, #5d4037 100%);
	background: -webkit-linear-gradient(left, #3e2724 0%,#5d4037 100%);
	background: linear-gradient(to right, #3e2724 0%,#5d4037 100%);
}
@mixin gradient3{
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,167,38,1) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,167,38,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,167,38,1) 100%);
}