@font-face {
	font-family: "ProximaNova-Light";
	src: url("../fonts/ProximaNova-Light.otf");
}
@font-face {
	font-family: "ProximaNova-Reg";
	src: url("../../fonts/ProximaNova-Reg.otf");
}
@font-face {
	font-family: "ProximaNova-Bold";
	src: url("../fonts/ProximaNova-Bold.otf");
}

$ProximaNovaL: "ProximaNova-Light";
$ProximaNovaR: "ProximaNova-Reg";
$ProximaNovaB: "ProximaNova-Bold";

$OpenSans: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Serif: Georgia, 'Times New Roman', Times, serif;
$Sans_serif: Arial, Helvetica, Verdana, sans-serif;



