@font-face {
	font-family: "Comfortaa-Light";
	src: url("../../fonts/Comfortaa-Light.ttf");
}
@font-face {
	font-family: "Comfortaa-Regular";
	src: url("../../fonts/Comfortaa-Regular.ttf");
}
@font-face {
	font-family: "Comfortaa-Bold";
	src: url("../../fonts/Comfortaa-Bold.ttf");
}

$ComfortaaL: "Comfortaa-Light";
$ComfortaaR: "Comfortaa-Regular";
$ComfortaaB: "Comfortaa-Bold";

$OpenSans: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Serif: Georgia, 'Times New Roman', Times, serif;
$Sans_serif: Arial, Helvetica, Verdana, sans-serif;



