@import 'normalize';
@import 'fonts';
@import 'color';
@import 'slick';
@import 'rangeslider';
@import 'bootstrap.min';
@import 'owl.carousel.min';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: $ProximaNovaR;
  font-size: 14px;
  background-image: url("../img/bg.jpg");
  color: #61270a;
}

b {
  font-family: $ProximaNovaB;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $ProximaNovaB;
  font-weight: normal;
}

// width
@mixin r($width){
  @media only screen and (max-width: $width+ "px"){
    @content
  }
}
/**/

/*модальное окна*/
.arcticmodal-overlay,
.arcticmodal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.arcticmodal-container {
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}

*:first-child + html .arcticmodal-container {
  height: 100%
}

.arcticmodal-container_i {
  height: 100%;
  margin: 0 auto;
}

.arcticmodal-container_i2 {
  padding: 24px;
  margin: 0;
  border: 0;
  vertical-align: middle;
}

.arcticmodal-error {
  padding: 20px;
  border-radius: 10px;
  background: #000;
  color: #fff;
}

.arcticmodal-loading {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: #000 url("../img/loading.gif") no-repeat 50% 50%;
}

.arcticmodal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url("../img/close.png");
  width: 30px;
  height: 30px;
  text-indent: -99999px;
  cursor: pointer;
}

/**/

/**/
.wrp {
  position: relative;
  width: 100%;
  min-height: 100%;
  img {
    max-width: 100%;
    display: block;
  }
  .clearfix {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  &__buffer {
    height: 70px;
  }
}

.hidden {
  display: none;
}

/**/

/*mixin*/
@mixin row {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/**/

/*btn*/
.b-btn {
  background-color: $primary3;
  color: $primary1;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  display: block;
  font-family: $ProximaNovaR;
  border-radius: 20px;
  padding: 12px 13px;
  margin: 0;
  border: 0;
  position: relative;
  &_header {
    width: 190px;
    background-color: $primary5;
    text-transform: uppercase;
    position: relative;
    padding-left: 38px;
    font-size: 14px;
    letter-spacing: .7px;
    line-height: 15px;
    box-shadow: 0 10px 18px -5px $primary4;
    &:before {
      content: '';
      position: absolute;
      left: 13px;
      top: 50%;
      margin-top: -9px;
      background-image: url("../img/phone-i.png");
      width: 18px;
      height: 18px;
    }
  }
  &_footer {
    width: 190px;
    background-color: transparent;
    border: 1px solid $primary1;
    text-transform: uppercase;
    padding-left: 42px;
    font-size: 14px;
    letter-spacing: .7px;
    line-height: 15px;
    &:before {
      content: '';
      position: absolute;
      left: 24px;
      top: 50%;
      margin-top: -8px;
      background-image: url("../img/map-i.png");
      width: 18px;
      height: 16px;
    }
  }
  &_slider-catalog {
    width: 190px;
    background-color: $primary5;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .7px;
    line-height: 15px;
    display: inline-block;
    margin: 0 15px 0 0;
  }
  &_slider-consult {
    width: 190px;
    background-color: transparent;
    border: 1px solid $primary1;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .7px;
    line-height: 15px;
    display: inline-block;
  }
  &_popup {
    width: 190px;
    background-color: $primary5;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .7px;
    line-height: 15px;
    display: block;
    margin: 0 auto;
  }
}

/**/

/*form*/
.b-form {
}

/**/

/*header*/
.b-header {
  background-color: $primary1;
  position: relative;
  top: 0;
  z-index: 100;
  width: 100%;

  min-width: 320px;
  padding: 15px 20px;
  @include flex;
  &__logo {
    width: 215px;
    height: 40px;
    display: block;
    text-decoration: none;
  }
}

/**/

/*nav*/
.b-nav {
  &_footer {
    .b-nav__item {
      color: $primary1;
    }
  }
  &__item {
    color: $primary3;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .6px;
    margin-right: 30px;
    &:hover {
      color: $primary3;
    }
  }
}

/**/

/*panel*/
.b-panel {
  background-color: $primary1;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  width: 60px;
  height: auto;
  &_inner {
    background-color: transparent;
  }
  &__menu {
    margin: 130px 0 0;
    padding: 0;
    list-style: none;
  }
  &__menu-item {
    display: block;
    margin-bottom: 20px;
    img {
      margin: 0 auto;
    }
  }
}

/**/

/*slider*/
.b-slider {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
  overflow: hidden;
  min-height: 700px;
  &__item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    min-height: 700px;
    background-position: center;
  }
  &__caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 150px;
    z-index: 50;
    padding-left: 15px;
    padding-right: 70px;
  }
  &__head {
    color: $primary1;
    font-size: 30px;
    font-family: $ProximaNovaB;
    text-transform: uppercase;
    text-shadow: 0 5px 7px $primary2;
  }
  &__title {
    color: $primary1;
    font-size: 30px;
    font-family: $ProximaNovaR;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 0 5px 7px $primary2;
  }
}

/**/

/*footer*/
.b-footer {
  background-color: $primary4;
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  min-width: 320px;
  padding: 0 20px;
  @include flex;
  &_inner {
    background-color: rgba(174, 103, 45, .7);
    position: relative;
    margin-top: -70px;
  }
}

/**/

/*content*/
.b-main {
  @include row;
  @include flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/**/

/*aside-left*/
.b-aside-left {
  margin-bottom: 20px;
}

/**/

/**/
.b-nav-catalog {
  background-image: url("../img/aside-bg.jpg");
  width: 100%;
  padding: 26px 30px;
  box-shadow: 0 10px 30px -5px $primary4;
  &__item {
    display: block;
    margin-bottom: 25px;
    color: $primary1;
    font-size: 18px;
    font-family: $ProximaNovaR;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/**/

/*breadcrumb*/
.b-breadcrumb {

  margin: 44px auto 15px;
  color: $primary3;
  font-size: 30px;
  font-family: $ProximaNovaR;
  letter-spacing: .6px;
  &__item {
    color: $primary3;
    font-size: 30px;
    font-family: $ProximaNovaR;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-decoration: none;
    &:first-child {
      font-family: $ProximaNovaB;
    }
  }
}

/**/

/*content*/
.b-content {

}

/**/

/*catalog*/
.b-catalog {
  position: relative;
  margin-bottom: 60px;
  &__head {
    color: $primary3;
    font-size: 24px;
    margin-bottom: 15px;
    letter-spacing: 1.4px;
  }
  &__sort {
    color: $primary6;
    font-size: 18px;
    font-family: $ProximaNovaR;
    margin: 20px 0;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  &__sort-name {
    position: relative;
    padding-right: 15px;
    margin-right: 10px;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -7px;
      background-image: url("../img/sort-arrow.png");
      width: 9px;
      height: 15px;
    }
  }
  &__sort-price {
    position: relative;
    padding-right: 15px;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -7px;
      background-image: url("../img/sort-arrow.png");
      width: 9px;
      height: 15px;
      transform: rotate(180deg);
    }
  }
  &__inner {

  }
  &__item {
    background-color: $primary1;
    padding: 30px 30px 26px;
    border: 1px solid $primary7;
    position: relative;
    min-height: 450px;
    display: block;
    text-decoration: none;
    &:hover {
      box-shadow: 0 0 30px -5px $primary6;
      z-index: 10;
    }
  }
  &__img {
    margin-bottom: 27px;
    text-align: center;
    height: 186px;
    position: relative;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__discount{
    position: absolute;
    top: -23px;
    left: -23px;
    width: 46px;
    height: 46px;
    padding: 0 5px;
    border-radius: 50%;
    box-shadow: 0 4px 13px -3px rgba(#000,.6);
    background-color: red;
    color: #fff;
    font-size: 16px;
    line-height: 46px;
    text-align: center;
  }
  &__txt {

  }
  &__name {
    color: $primary5;
    font-family: $ProximaNovaB;
    margin-bottom: 6px;
  }
  &__size, &__city {
    color: $primary6;
    font-family: $ProximaNovaR;
    margin-bottom: 6px;
  }
  &__price {
    color: $primary3;
    font-family: $ProximaNovaB;
    margin-top: 30px;
  }
}

/**/

/*nav-param*/
.b-nav-param {
  &__header {
    background-image: url("../img/aside-bg.jpg");
    width: 100%;
    height: 72px;
    @include flex;
    padding: 0 30px;
    color: $primary1;
    font-size: 18px;
  }
  &__header-arrow {
    background-image: url("../img/aside-param-arrow.png");
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

/**/
.b-form-param__param {
  display: none;
}

/*form-param*/
.b-form-param {
  background-image: url("../img/aside-param-bg.jpg");
  width: 100%;
  padding: 30px 20px;
  &__header {
    @include flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $primary6;
  }
  &__head {
    color: $primary6;
    font-size: 18px;
  }
  &__head-arrow {
    background-image: url("../img/form-param-arrow.png");
    width: 20px;
    height: 10px;
    cursor: pointer;
    transform: rotate(180deg);
  }
  &__item {
    margin-bottom: 20px;
  }

  .b-btn_popup {
    font-size: 18px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    cursor: pointer;
    margin-top: 30px;
  }
}

/**/

/*b-form-popup*/
.arcticmodal-container_i {
  width: 100%;
}

.b-form-popup {
  background-image: url("../img/popup-bg.jpg");
  max-width: 410px;
  padding: 30px;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .input-style {
    width: 100%;
    height: 40px;
    border: 0;
    padding: 0 15px;
    color: $primary6;
    font-size: 14px;
    font-family: $ProximaNovaR;
  }
  &__head {
    color: $primary1;
    font-size: 18px;
    font-family: $ProximaNovaB;
    margin-bottom: 10px;
    position: relative;
    top: -6px;
    letter-spacing: 1px;
  }
  &__item {
    margin-bottom: 20px;
  }
}

/**/

.b-form-param__header {
  cursor: pointer;

  &.active {
    .b-form-param__head-arrow {
      transform: rotate(0);
    }
  }
}

.el-param__param {
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
}

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
    color: #37474f;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 10px;
    height: 10px;
    border: 1px solid #37474f;
    margin-top: 2px;
  }

  // Box checked
  &:checked + label:after {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 2px;
    height: 6px;
    border: solid #37474f;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 4px;
    top: 3px;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

}

.b-btn_reset {
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #37474f;
  color: #37474f;
  display: block;
  font-size: 18px;
  margin-top: 20px;
  width: 100%;
  height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
}

/* Ion.RangeSlider
// css version 2.0.3
// В© 2013-2014 Denis Ineshin | IonDen.com
// ===================================================================================================================*/

/* =====================================================================================================================
// RangeSlider */

.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none !important;
}

.irs-line-left, .irs-line-mid, .irs-line-right {
  position: absolute;
  display: block;
  top: 0;
}

.irs-line-left {
  left: 0;
  width: 11%;
}

.irs-line-mid {
  left: 9%;
  width: 82%;
}

.irs-line-right {
  right: 0;
  width: 11%;
}

.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0;
}

.irs-bar-edge {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}

.irs-slider {
  position: absolute;
  display: block;
  cursor: default;
  z-index: 1;
}

.irs-slider.single {

}

.irs-slider.from {

}

.irs-slider.to {

}

.irs-slider.type_last {
  z-index: 2;
}

.irs-min {
  position: absolute;
  display: block;
  left: 0;
  cursor: default;
}

.irs-max {
  position: absolute;
  display: block;
  right: 0;
  cursor: default;
}

.irs-from, .irs-to, .irs-single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap;
}

.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.irs-with-grid .irs-grid {
  display: block;
}

.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000;
}

.irs-grid-pol.small {
  height: 4px;
}

.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  padding: 0 3px;
  color: #000;
}

.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: rgba(0, 0, 0, 0.0);
  z-index: 2;
}

.lt-ie9 .irs-disable-mask {
  background: #000;
  filter: alpha(opacity=0);
  cursor: not-allowed;
}

.irs-disabled {
  opacity: 0.4;
}

.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}

/* Ion.RangeSlider, Simple Skin
// css version 2.0.3
// В© Denis Ineshin, 2014    https://github.com/IonDen
// В© guybowden, 2014        https://github.com/guybowden
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
  height: 25px;
}

.irs-with-grid {
  height: 75px;
}

.irs-line {
  height: 2px;
  top: 0;
  background: #ae672d;
}

.irs-line-left {
  height: 8px;
}

.irs-line-mid {
  height: 8px;
}

.irs-line-right {
  height: 8px;
}

.irs-bar {
  height: 2px;
  top: 0;
  background: #37474f;
}

.irs-bar-edge {
  height: 10px;
  top: 0;
  width: 14px;
  border: 1px solid #428bca;
  border-right: 0;
  background: #428bca;
  background: linear-gradient(to top, rgba(66, 139, 202, 1) 0%, rgba(127, 195, 232, 1) 100%); /* W3C */
  border-radius: 16px 0 0 16px;
  -moz-border-radius: 16px 0 0 16px;
}

.irs-shadow {
  height: 2px;
  top: 38px;
  background: #000;
  opacity: 0.3;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.lt-ie9 .irs-shadow {
  filter: alpha(opacity=30);
}

.irs-slider {
  top: -6px;
  width: 14px;
  height: 14px;
  background: #37474f;
  border-radius: 14px;
  box-shadow: 0px 2px 7px rgba(55, 71, 79, 0.6);
  cursor: pointer;
}

.irs-slider.state_hover, .irs-slider:hover {
  background: #FFF;
}

.irs-min, .irs-max {
  color: #333;
  font-size: 12px;
  line-height: 1.333;
  text-shadow: none;
  top: 0;
  padding: 1px 5px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  -moz-border-radius: 3px;
  display: none !important;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
  background: #ccc;
}

.irs-from, .irs-to, .irs-single {
  color: #fff;
  font-size: 14px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background: #428bca;
  border-radius: 3px;
  -moz-border-radius: 3px;
  display: none !important;
}

.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
  background: #999;
}

.irs-grid {
  height: 27px;
}

.irs-grid-pol {
  opacity: 0.5;
  background: #428bca;
}

.irs-grid-pol.small {
  background: #999;
}

.irs-grid-text {
  bottom: 5px;
  color: #99a4ac;
}

.irs-disabled {
}

.extra-controls {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 1px;
    background: #37474f;
    width: 22px;
  }
  .js-input-from {
    float: left;
    width: 71px;
    height: 28px;
    border: 1px solid #37474f;
    font-size: 14px;
    color: #37474f;
    padding-left: 5px;
    padding-right: 5px;
    background: rgba(255, 255, 255, .6);
  }
  .js-input-to {
    float: right;
    width: 71px;
    height: 28px;
    border: 1px solid #37474f;
    font-size: 14px;
    color: #37474f;
    padding-left: 5px;
    padding-right: 5px;
    background: rgba(255, 255, 255, .6);
  }
}

.no__bd {
  border-bottom: 0;
  margin-bottom: 20px;
  cursor: default;
}

.b-catalog__nav {
  margin-top: 60px;

  vertical-align: top;

  a, span {
    display: inline-block;
    vertical-align: middle;
    color: #37474f;
    margin-left: 7px;
    margin-right: 7px;
  }

}

.b-catalog__nav-num {
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  font-family: $ProximaNovaB;
  text-decoration: none;

  &.act, &:hover {
    border: 1px solid #99390a;
  }
}

.b-catalog__nav-left {
  font-size: 0;
  background: url(../img/nav-a.png) 0 0 no-repeat;
  width: 30px;
  height: 18px;
  margin-right: 20px;
}

.b-catalog__nav-right {
  font-size: 0;
  background: url(../img/nav-a.png) 0 0 no-repeat;
  width: 30px;
  height: 18px;
  transform: rotate(180deg);
  margin-left: 20px;
}

//CARD
.b-card__slider {
  float: left;
  width: 100%;
  padding-right: 510px;
  margin-right: -510px;

  .b-slider {
    height: 100%;
  }
}

.card__slider {
  .b-slider__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .slick-prev {
    left: 30px;
  }

  .slick-next {
    right: 30px;
    transform: translate(0, -50%) rotate(180deg);
  }

  .slick-arrow {
    width: 32px;
    height: 60px;
    background: url(../img/card-a.png) 0 0 no-repeat;
    z-index: 20;
    &:after, &:before {
      content: none;
    }
  }
}

.b-card__inner {
  padding: 0 20px;
}

.b-card__anons {
  margin-bottom: 30px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 20px;
  h2 {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #61270a;
    font-family: $ProximaNovaB;
    margin-bottom: 20px;
    margin-top: 30px;
  }
}

.b-card__info {
  padding: 30px;
  float: left;
  width: 380px;

  h2 {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #61270a;
    font-family: $ProximaNovaB;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .card__price {
    color: #37474f;
    font-size: 14px;
    margin-bottom: 10px;
    sup {
      font-size: 12px;
    }
    span {
      font-size: 24px;
      font-family: $ProximaNovaB;
      i {
        font-style: normal;
      }
    }
  }

  .card__calc {
    padding: 12px;
    color: #37474f;
    background-image: url(../img/aside-param-bg.jpg);
    max-width: 320px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    padding-right: 60px;

    &:after {
      content: "";
      width: 64px;
      height: 86px;
      position: absolute;
      right: -31px;
      top: 13px;
      background: url(../img/calc.png) 0 0 no-repeat;
    }
    p {
      margin-top: 0;
      font-size: 14px;
    }
    input {
      width: 71px;
      height: 28px;
      border: 1px solid #37474f;
      font-size: 14px;
      padding-left: 5px;
      padding-right: 5px;
      background: rgba(255, 255, 255, .6);
      color: #37474f;
    }
    a {
      text-decoration: none;
      color: #37474f;
    }
  }

  .b-btn_header {
    margin-top: 25px;
    margin-bottom: 25px;
    &::before {
      left: 23px;
      background: url(../img/iwtb.png) 0 0 no-repeat;
    }
  }
}

.card__price-itog {
  span {
    color: #61270a;
  }
}

.b-card-char {
  .title {
    text-transform: uppercase;
    text-transform: uppercase;
    font-size: 14px;
    color: #37474f;
    font-family: $ProximaNovaB;
    margin-bottom: 15px;
  }
}

.card {
  &__items {
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  &__item {
    width: 100%;
    max-width: 98px;
    text-decoration: none;
    display: block;
  }
  &__select {

  }
}

.b-card__info .card__calc .card__item input {
  width: 100%;
}

.b-card__info .card__calc .card__item input[disabled="disabled"] {
  background: transparent;
}

.char__list {
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }

  span {
    i {
      width: 100%;
      display: block;
      border-bottom: 1px dotted #90989c;
      position: relative;
    }
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ch-title {
  font-size: 14px;
  color: #37474f;
  padding-right: 10px;
  white-space: nowrap;
}

.ch-d {
  width: 100%;
}

.ch-name {
  font-size: 14px;
  color: #ae672d;
  padding-left: 10px;
  flex-shrink: 0;
  max-width: 168px;
  text-align: right;
}

//NEWS
.news-date-el {
  font-size: 14px;
  color: #ae672d;
  margin-bottom: 20px;
}

.b-news-info {
  h3 {
    text-transform: uppercase;
    font-size: 18px;
    color: #61270a;
    font-family: $ProximaNovaB;
    margin-top: 0;
  }
  p {
    color: #61270a;
    font-size: 14px;
    margin-bottom: 25px;
  }
}

.btn-styler {
  width: 190px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  background: #ae672d;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
  &:hover {
    background: #61270a;
  }
}

.e-news {
  padding-bottom: 50px;
  border-bottom: 1px solid #ae672d;
  margin-bottom: 50px;
  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.news-page-nav {
  text-align: center;
  a, span {
    display: inline-block;
    vertical-align: middle;
  }
  margin-bottom: 50px;

  a[rel="prev"],
  span[rel="prev"] {
    font-size: 0;
    background: url("../img/nna.png") 0 0 no-repeat;
    width: 30px;
    height: 18px;
    margin-right: 30px;
  }
  a[rel="next"],
  span[rel="next"] {
    font-size: 0;
    background: url("../img/nna.png") 0 0 no-repeat;
    width: 30px;
    height: 18px;
    margin-left: 30px;
    transform: rotate(180deg);
  }
}

.news-page-nav-num {
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: #37474f;
  font-family: $ProximaNovaB;
  text-decoration: none;

  &:hover, &.act {
    border-color: #99390a;
  }
}

.b-shop-images {
  overflow: hidden;
  padding-bottom: 100px;
  h4 {
    font-size: 30px;
    color: #61270a;
    margin-bottom: 25px;
    font-weight: normal;
  }
  .shop-img-slider-item {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    img {
      box-shadow: 0 10px 35px rgba(0, 0, 0, .7);
      display: inline;
    }
  }
  .owl-stage-outer {
    overflow: visible;
  }
  .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: -30px;

  }
  .owl-prev {
    font-size: 0;
    width: 32px;
    height: 60px;
    background: url(../img/slar.png) 0 0 no-repeat;

    left: 0;
    position: absolute;
  }
  .owl-next {
    font-size: 0;
    width: 32px;
    height: 60px;
    right: 0;
    background: url(../img/slar.png) 0 0 no-repeat;
    z-index: 30;
    transform: rotate(180deg);
    position: absolute;
  }
  .owl-dots {
    text-align: center;
    margin-top: 30px;
    .owl-dot {
      display: inline-block;
      vertical-align: top;
      width: 10px;
      height: 10px;
      background: #fff;
      border-radius: 10px;
      border: 1px solid #99390a;
      margin-left: 5px;
      margin-right: 5px;
      &.active {
        background: #99390a;
      }
    }
  }
}

#map {
  width: 100%;
  height: calc(100vh - 70px);
}

#info-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .8);
  display: block;
  .container {
    height: 100%;
    min-height: 100%;
  }
}

.cont-info {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.b-adr {
  border: 10px solid #ae672d;
  margin-left: -190px;
  margin-top: 40px;
  padding: 40px 40px 40px 240px;

}

.adr-elem {
  font-size: 16px;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  .title {
    font-size: 18px;
    color: #61270a;
    margin-bottom: 15px;
    font-family: $ProximaNovaB;
    padding-left: 30px;
  }
  p {
    margin: 0;
  }
}

.loc-ico {
  background: url('../img/loc.png') left center no-repeat;
}

.ph-ico {
  background: url('../img/ph.png') left center no-repeat;
}

.or-shadow {
  box-shadow: 0 10px 20px rgba(174, 103, 45, .4);
}

.adr-elem-inner {
  padding-left: 30px;
}

.s-link {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.mb-menu {
  display: none;
  width: 40px;
  cursor: pointer;
  margin-top: 7px;
  span {
    display: block;
    background: #61270a;
    height: 4px;
    margin-bottom: 7px;
    border-radius: 4px;
  }
}

body.active {
  overflow: hidden;
  .b-header .b-nav {
    display: block;
  }
  .mb-menu {
    position: absolute;
    right: 15px;
    z-index: 200;
    top: 30px;
    margin-top: 0;
    span {
      &:nth-child(1) {
        transform: rotate(-45deg);
      }
      &:nth-child(2) {
        transform: rotate(45deg);
        margin-top: -11px;
      }
      &:nth-child(3) {
        display: none;
      }
    }
  }

  .slick-dots, .slick-arrow {
    display: none;
  }
}

.stone-b {
  display: none;
}

.b-header {
  .b-panel {
    width: 100%;
    margin-top: 20px;
    display: none;
    .b-panel__menu {
      margin-top: 0;
      text-align: center;
      display: block;
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    position: static;
  }
}

.main-styler {
  .b-panel_inner {
    background: #fff;
    height: 100%;
  }
  .b-footer_inner {
    margin-top: -70px !important;
  }
}

.b-btn_slider-catalog {
  margin-bottom: 20px;
}

.no-pad {
  padding: 0;
}

@import "requisites";
// dasd
// asdasdasd
// asddas
// asdasd
// asdasd

@media(max-width: 1200px) {
  .b-nav__item {
    font-size: 12px;
    margin-right: 18px;
  }
}

@media(max-width: 992px) {
  .cont-info {
    padding-top: 30px;
  }
  .b-adr {
    margin-bottom: 30px;
  }
  .b-slider {
    height: auto;
    .b-slider__item {
      height: 700px;
    }
  }
  .b-header .b-nav {
    position: fixed;
    right: 0;
    top: 0px;
    bottom: 0;
    z-index: 100;
    display: none;

    height: 100%;
    width: 100%;
    background: #fff;
    padding: 20px 15px;
    padding-top: 70px;
    overflow: scroll;
    a {
      text-align: center;
      display: block;
      color: #000 !important;
      font-size: 18px;
      margin-bottom: 20px;
      &:hover {
        color: #ae672d !important;
      }
    }
  }

  .mb-menu {
    display: block;
  }

  .owl-prev {
    transform: scale(.6);
  }
  .owl-next {
    transform: rotate(180deg) scale(.6) !important;
  }

  #info-container {
    position: static;
    .cont-info {
      top: 0;
      transform: none;
    }
  }
  .b-adr {
    margin-left: 0;
    padding-left: 40px;
  }
  #map {
    height: 300px;
  }
  .b-footer_inner {
    margin-top: 0;
  }

  .b-footer {
    height: auto;
    .b-nav_footer {
      display: none !important;
    }
    .b-btn_footer {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .b-slider__caption {
    right: auto;
  }

  .b-card__slider {
    padding-right: 460px;
    margin-right: -460px;
  }
}

@media(max-width: 768px) {
  .b-card__info {
    float: none;
    width: 100%;
    padding: 15px;
  }
  .b-card__info .card__calc {
    max-width: 90%;
  }
  .b-card__slider {
    float: none;
    padding-right: 0;
    margin-right: 0;
  }
  .card__slider {
    min-height: auto;
    height: 400px !important;
    .b-slider__item {
      height: 400px !important;
      min-height: auto;
    }
  }
  .b-news-info {
    margin-top: 20px;
  }
  .b-shop-images {
    padding-bottom: 50px;
    h4 {
      padding-left: 15px;
      padding-right: 15px;
    }
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
  }
  .shop-img-slider-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .b-adr {
    padding: 15px;
  }
}

@media(max-width: 560px) {
  .stone-b {
    display: block;
    margin-bottom: 20px;
  }
  .b-header {
    display: block;
    .b-panel {
      display: block;
    }
  }
  .b-btn_header {
    margin-left: auto;
    margin-right: auto;
  }

  .b-header__logo {
    float: left;
  }
  .mb-menu {
    float: right;
  }
  .b-panel_inner {
    display: none;
  }
  .b-slider__caption {
    padding-right: 15px;
  }

  .js-slider {
    .slick-dots {
      position: absolute;
      bottom: 100px;
      left: 0;
      right: 0;
      width: 100%;
      max-width: 100%;

      li {
        display: inline-block;
        vertical-align: top;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .slick-arrow {
      display: none !important;
    }
  }

}

@media(min-width: 768px) {
  .b-slider .b-slider__item, .b-slider {
    height: calc(100vh - 70px) !important;

  }
}