@import 'normalize';
@import 'fonts';
@import 'color';
@import 'slick';

*{
	box-sizing: border-box;
}
html, body{
	height: 100%;
	font-family: $ProximaNovaR;
	font-size: 16px;
	background-image: url("../img/bg.jpg");
}
b{
	font-family: $ProximaNovaB;
}

/*модальное окна*/
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url("../img/loading.gif") no-repeat 50% 50%; }
.arcticmodal-close{
	position: absolute;
	top: 10px;
	right: 10px;
	background-image: url("../img/close.png");
	width: 30px;
	height: 30px;
	text-indent: -99999px;
	cursor: pointer;
}
/**/

/**/
.wrp{
	position: relative;
	width: 100%;
	min-height: 100%;
	img{
		max-width: 100%;
		display: block;
	}
	.clearfix{
		&:after{
			content: '';
			display: table;
			clear: both;
		}
	}
	&__buffer{
		height: 70px;
	}
}
.hidden{
	display: none;
}
/**/

/*mixin*/
@mixin row{
	max-width: 1110px;
	width: 100%;
	margin: 0 auto;
}
@mixin flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
/**/


/*btn*/
.b-btn{
	background-color: $primary3;
	color: $primary1;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	display: block;
	border-radius: 20px;
	padding: 12px 13px;
	margin: 0;
	border: 0;
	position: relative;
	&_header{
		width: 190px;
		background-color: $primary5;
		text-transform: uppercase;
		position: relative;
		padding-left: 38px;
		font-size: 14px;
		letter-spacing: .7px;
		line-height: 15px;
		box-shadow: 0 10px 18px -5px $primary4;
		&:before{
			content: '';
			position: absolute;
			left: 13px;
			top: 50%;
			margin-top: -9px;
			background-image: url("../img/phone-i.png");
			width: 18px;
			height: 18px;
		}
	}
	&_footer{
		width: 190px;
		background-color: transparent;
		border: 1px solid $primary1;
		text-transform: uppercase;
		padding-left: 42px;
		font-size: 14px;
		letter-spacing: .7px;
		line-height: 15px;
		&:before{
			content: '';
			position: absolute;
			left: 24px;
			top: 50%;
			margin-top: -8px;
			background-image: url("../img/map-i.png");
			width: 18px;
			height: 16px;
		}
	}
	&_slider-catalog{
		width: 190px;
		background-color: $primary5;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: .7px;
		line-height: 15px;
		display: inline-block;
		margin: 0 15px 0 0;
	}
	&_slider-consult{
		width: 190px;
		background-color: transparent;
		border: 1px solid $primary1;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: .7px;
		line-height: 15px;
		display: inline-block;
	}
	&_popup{
		width: 190px;
		background-color: $primary5;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: .7px;
		line-height: 15px;
		display: block;
		margin: 0 auto;
	}
}
/**/

/*form*/
.b-form{
}
/**/

/*header*/
.b-header{
	background-color: $primary1;
	position: relative;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 70px;
	min-width: 320px;
	padding: 0 20px;
	@include flex;
	&__logo{
		width: 215px;
		height: 40px;
		display: block;
		text-decoration: none;
	}
}
/**/

/*nav*/
.b-nav{
	&_footer{
		.b-nav__item{
			color: $primary1;
		}
	}
	&__item{
		color: $primary3;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: .6px;
		margin-right: 30px;
		&:hover{
			color: $primary3;
		}
	}
}
/**/

/*panel*/
.b-panel{
	background-color: $primary1;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 50;
	width: 60px;
	height: 100%;
	&_inner{
		background-color: transparent;
	}
	&__menu{
		margin: 80px 0 0;
		padding: 0;
		list-style: none;
	}
	&__menu-item{
		display: block;
		margin-bottom: 20px;
		img{
			margin: 0 auto;
		}
	}
}
/**/

/*slider*/
.b-slider{
	position: relative;
	width: 100%;
	height: calc(100vh - 70px);
	overflow: hidden;
	&__item{
		width: 100%;
		height: 100vh;
		background-size: cover;
		position: relative;
	}
	&__caption{
		position: absolute;
		bottom: 250px;
		right: 150px;
		z-index: 50;
	}
	&__head{
		color: $primary1;
		font-size: 30px;
		font-family: $ProximaNovaB;
		text-transform: uppercase;
		text-shadow: 0 5px 7px $primary2;
	}
	&__title{
		color: $primary1;
		font-size: 30px;
		font-family: $ProximaNovaR;
		text-transform: uppercase;
		margin-bottom: 20px;
		text-shadow: 0 5px 7px $primary2;
	}
}
/**/

/*footer*/
.b-footer{
	background-color: $primary4;
	position: fixed;
	bottom: 0;
	z-index: 100;
	width: 100%;
	height: 70px;
	min-width: 320px;
	padding: 0 20px;
	@include flex;
	&_inner{
		background-color: $primary5;
		position: relative;
		margin-top: -70px;
	}
}
/**/

/*content*/
.b-main{
	@include row;
	@include flex;
	justify-content: flex-start;
	align-items: flex-start;
}
/**/

/*aside-left*/
.b-aside-left{
	width: 255px;
	margin-right: 30px;
	margin-bottom: 20px;
}
/**/

/**/
.b-nav-catalog{
	background-image: url("../img/aside-bg.jpg");
	width: 100%;
	padding: 26px 30px;
	box-shadow: 0 10px 30px -5px $primary4;
	&__item{
		display: block;
		margin-bottom: 45px;
		color: $primary1;
		font-size: 18px;
		font-family: $ProximaNovaR;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: .8px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
/**/

/*breadcrumb*/
.b-breadcrumb{
	@include row;
	margin: 44px auto 35px;
	color: $primary3;
	font-size: 30px;
	font-family: $ProximaNovaR;
	letter-spacing: .6px;
	&__item{
		color: $primary3;
		font-size: 30px;
		font-family: $ProximaNovaR;
		letter-spacing: 1.4px;
		text-transform: uppercase;
		text-decoration: none;
		&:first-child{
			font-family: $ProximaNovaB;
		}
	}
}
/**/

/*content*/
.b-content{

}
/**/

/*catalog*/
.b-catalog{
	position: relative;
	margin-bottom: 60px;
	&__head{
		color: $primary3;
		font-size: 24px;
		margin-bottom: 15px;
		letter-spacing: 1.4px;
	}
	&__sort{
		color: $primary6;
		font-size: 18px;
		font-family: $ProximaNovaR;
		margin: 20px 0;
		a{
			text-decoration: none;
			color: inherit;
		}
	}
	&__sort-name{
		position: relative;
		padding-right: 15px;
		margin-right: 10px;
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -7px;
			background-image: url("../img/sort-arrow.png");
			width: 9px;
			height: 15px;
		}
	}
	&__sort-price{
		position: relative;
		padding-right: 15px;
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -7px;
			background-image: url("../img/sort-arrow.png");
			width: 9px;
			height: 15px;
			transform: rotate(180deg);
		}
	}
	&__inner{
		@include flex;
		align-items: flex-start;
		flex-wrap: wrap;
		width: 810px;
	}
	&__item{
		background-color: $primary1;
		width: 270px;
		padding: 30px 30px 26px;
		border: 1px solid $primary7;
		position: relative;
		&:hover{
			box-shadow: 0 0 30px -5px $primary6;
			z-index: 10;
		}
	}
	&__img{
		margin-bottom: 27px;
	}
	&__txt{

	}
	&__name{
		color: $primary5;
		font-family: $ProximaNovaB;
		margin-bottom: 6px;
	}
	&__size, &__city{
		color: $primary6;
		font-family: $ProximaNovaR;
		margin-bottom: 6px;
	}
	&__price{
		color: $primary3;
		font-family: $ProximaNovaB;
		margin-top: 30px;
	}
}
/**/

/*nav-param*/
.b-nav-param{
	&__header{
		background-image: url("../img/aside-bg.jpg");
		width: 100%;
		height: 72px;
		@include flex;
		padding: 0 30px;
		color: $primary1;
		font-size: 18px;
	}
	&__header-arrow{
		background-image: url("../img/aside-param-arrow.png");
		width: 20px;
		height: 20px;
		cursor: pointer;
	}
}
/**/

/*form-param*/
.b-form-param{
	background-image: url("../img/aside-param-bg.jpg");
	width: 100%;
	padding: 30px;
	&__header{
		@include flex;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid $primary6;
	}
	&__head{
		color: $primary6;
		font-size: 18px;
	}
	&__head-arrow{
		background-image: url("../img/form-param-arrow.png");
		width: 20px;
		height: 10px;
		cursor: pointer;
		transform: rotate(180deg);
	}
	&__item{
		margin-bottom: 20px;
	}
}
/**/

/*b-form-popup*/
.b-form-popup{
	background-image: url("../img/popup-bg.jpg");
	width: 410px;
	padding: 30px;
	position: relative;
	.input-style{
		width: 100%;
		height: 40px;
		border: 0;
		padding: 0 15px;
		color: $primary6;
		font-size: 14px;
		font-family: $ProximaNovaR;
	}
	&__head{
		color: $primary1;
		font-size: 18px;
		font-family: $ProximaNovaB;
		margin-bottom: 10px;
		position: relative;
		top: -6px;
		letter-spacing: 1px;
	}
	&__item{
		margin-bottom: 20px;
	}
}
/**/
