<section class="b-catalog">
    <div class="b-catalog__head">СКИДКА</div>
    <div class="b-catalog__inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-sm-6 no-pad">
                    <div class="b-catalog__item">
                        <div class="b-catalog__img">
                            <img src="img/catalog-img-1.jpg" alt="">
                        </div>
                        <div class="b-catalog__txt">
                            <div class="b-catalog__name">Бамбук кофе, 505</div>
                            <div class="b-catalog__zize">1290х180х9 мм</div>
                            <div class="b-catalog__city">Бельгия</div>
                            <div class="b-catalog__price">4000 тенге/м2</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-6 no-pad">
                    <div class="b-catalog__item">
                        <div class="b-catalog__img">
                            <img src="img/catalog-img-2.jpg" alt="">
                        </div>
                        <div class="b-catalog__txt">
                            <div class="b-catalog__name">Дуссие Glossy, 104</div>
                            <div class="b-catalog__zize">1290х180х9 мм</div>
                            <div class="b-catalog__city">Бельгия</div>
                            <div class="b-catalog__price">4000 тенге/м2</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-6 no-pad">
                    <div class="b-catalog__item">
                        <div class="b-catalog__img">
                            <img src="img/catalog-img-3.jpg" alt="">
                        </div>
                        <div class="b-catalog__txt">
                            <div class="b-catalog__name">Ятоба, 507</div>
                            <div class="b-catalog__zize">1290х180х9 мм</div>
                            <div class="b-catalog__city">Бельгия</div>
                            <div class="b-catalog__price">3000 тенге/м2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="b-catalog">
    <div class="b-catalog__head">НОВИНКИ</div>
    <div class="b-catalog__inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-sm-6 no-pad">
                    <div class="b-catalog__item">
                        <div class="b-catalog__img">
                            <img src="img/catalog-img-1.jpg" alt="">
                        </div>
                        <div class="b-catalog__txt">
                            <div class="b-catalog__name">Бамбук кофе, 505</div>
                            <div class="b-catalog__zize">1290х180х9 мм</div>
                            <div class="b-catalog__city">Бельгия</div>
                            <div class="b-catalog__price">4000 тенге/м2</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-6 no-pad">
                    <div class="b-catalog__item">
                        <div class="b-catalog__img">
                            <img src="img/catalog-img-2.jpg" alt="">
                        </div>
                        <div class="b-catalog__txt">
                            <div class="b-catalog__name">Дуссие Glossy, 104</div>
                            <div class="b-catalog__zize">1290х180х9 мм</div>
                            <div class="b-catalog__city">Бельгия</div>
                            <div class="b-catalog__price">4000 тенге/м2</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-6 no-pad">
                    <div class="b-catalog__item">
                        <div class="b-catalog__img">
                            <img src="img/catalog-img-3.jpg" alt="">
                        </div>
                        <div class="b-catalog__txt">
                            <div class="b-catalog__name">Ятоба, 507</div>
                            <div class="b-catalog__zize">1290х180х9 мм</div>
                            <div class="b-catalog__city">Бельгия</div>
                            <div class="b-catalog__price">3000 тенге/м2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="b-catalog">
    <div class="b-catalog__head">САМЫЕ ПОПУЛЯРНЫЕ</div>
    <div class="b-catalog__inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-sm-6 no-pad">
                    <div class="b-catalog__item">
                        <div class="b-catalog__img">
                            <img src="img/catalog-img-1.jpg" alt="">
                        </div>
                        <div class="b-catalog__txt">
                            <div class="b-catalog__name">Бамбук кофе, 505</div>
                            <div class="b-catalog__zize">1290х180х9 мм</div>
                            <div class="b-catalog__city">Бельгия</div>
                            <div class="b-catalog__price">4000 тенге/м2</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-6 no-pad">
                    <div class="b-catalog__item">
                        <div class="b-catalog__img">
                            <img src="img/catalog-img-2.jpg" alt="">
                        </div>
                        <div class="b-catalog__txt">
                            <div class="b-catalog__name">Дуссие Glossy, 104</div>
                            <div class="b-catalog__zize">1290х180х9 мм</div>
                            <div class="b-catalog__city">Бельгия</div>
                            <div class="b-catalog__price">4000 тенге/м2</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-6 no-pad">
                    <div class="b-catalog__item">
                        <div class="b-catalog__img">
                            <img src="img/catalog-img-3.jpg" alt="">
                        </div>
                        <div class="b-catalog__txt">
                            <div class="b-catalog__name">Ятоба, 507</div>
                            <div class="b-catalog__zize">1290х180х9 мм</div>
                            <div class="b-catalog__city">Бельгия</div>
                            <div class="b-catalog__price">3000 тенге/м2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>