<section class="b-catalog">
    <div class="b-catalog__sort">
        Сортировпать по: <a href="#" class="b-catalog__sort-name">Наименованию</a> <a href="#" class="b-catalog__sort-price">Цене</a>
    </div>
    <div class="b-catalog__inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-sm-6 no-pad">
                    <div class="b-catalog__item">
                        <div class="b-catalog__img">
                            <img src="img/catalog-img-1.jpg" alt="">
                            <div class="b-catalog__property">
                                <div class="b-catalog__discount">7%</div>
                                <div class="b-catalog__discount">NEW</div>
                            </div>
                            <div class="b-catalog__label">
                                <img src="img/8.png" alt="">
                            </div>
                        </div>
                        <div class="b-catalog__txt">
                            <div class="b-catalog__name">Бамбук кофе, 505</div>
                            <div class="b-catalog__zize">1290х180х9 мм</div>
                            <div class="b-catalog__city">Бельгия</div>
                            <div class="b-catalog__price">4000 тенге/м2</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-6 no-pad">
                    <div class="b-catalog__item">
                        <div class="b-catalog__img">
                            <img src="img/catalog-img-2.jpg" alt="">
                        </div>
                        <div class="b-catalog__txt">
                            <div class="b-catalog__name">Дуссие Glossy, 104</div>
                            <div class="b-catalog__zize">1290х180х9 мм</div>
                            <div class="b-catalog__city">Бельгия</div>
                            <div class="b-catalog__price">4000 тенге/м2</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-6 no-pad">
                    <div class="b-catalog__item">
                        <div class="b-catalog__img">
                            <img src="img/catalog-img-3.jpg" alt="">
                        </div>
                        <div class="b-catalog__txt">
                            <div class="b-catalog__name">Ятоба, 507</div>
                            <div class="b-catalog__zize">1290х180х9 мм</div>
                            <div class="b-catalog__city">Бельгия</div>
                            <div class="b-catalog__price">3000 тенге/м2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-catalog__nav">
        <a href="#" class="b-catalog__nav-left">Назад</a>

        <a href="#" class="b-catalog__nav-num act">1</a>
        <a href="#" class="b-catalog__nav-num">2</a>
        <a href="#" class="b-catalog__nav-num">3</a>
        <a href="#" class="b-catalog__nav-num">4</a>

        <a href="#" class="b-catalog__nav-right">Вперед</a>
    </div>
</section>