<div class="b-slider js-slider">
    <div class="b-slider__item" style="background-image: url('img/slider-img.png')">
        <div class="b-slider__caption">
            <div class="b-slider__head">ШИРОКИЙ ВЫБОР НАПОЛЬНЫХ ПОКРЫТИЙ</div>
            <div class="b-slider__title">ПО ЛУЧШИМ ЦЕНАМ</div>
            <a href="#" class="b-btn b-btn_slider-catalog">СМОТРЕТЬ КАТАЛОГ</a> <a href="#" class="b-btn b-btn_slider-consult">КОНСУЛЬТАЦИЯ</a>
        </div>
    </div>
    <div class="b-slider__item" style="background-image: url('img/slider-img.png')">
        <div class="b-slider__caption">
            <div class="b-slider__head">ШИРОКИЙ ВЫБОР НАПОЛЬНЫХ ПОКРЫТИЙ</div>
            <div class="b-slider__title">ПО ЛУЧШИМ ЦЕНАМ</div>
            <a href="#" class="b-btn b-btn_slider-catalog">СМОТРЕТЬ КАТАЛОГ</a> <a href="#" class="b-btn b-btn_slider-consult">КОНСУЛЬТАЦИЯ</a>
        </div>
    </div>
    <div class="b-slider__item" style="background-image: url('img/slider-img.png')">
        <div class="b-slider__caption">
            <div class="b-slider__head">ШИРОКИЙ ВЫБОР НАПОЛЬНЫХ ПОКРЫТИЙ</div>
            <div class="b-slider__title">ПО ЛУЧШИМ ЦЕНАМ</div>
            <a href="#" class="b-btn b-btn_slider-catalog">СМОТРЕТЬ КАТАЛОГ</a> <a href="#" class="b-btn b-btn_slider-consult">КОНСУЛЬТАЦИЯ</a>
        </div>
    </div>
</div>


