<nav class="b-nav-param">
        <header class="b-nav-param__header">
            <div>ПАРАМЕТРЫ</div>
            <div class="b-nav-param__header-arrow"></div>
        </header>
        <form action="" class="b-form-param">
            <div class="b-form-param__item">
                <header class="b-form-param__header">
                    <div class="b-form-param__head">Оттенок</div> <div class="b-form-param__head-arrow"></div>
                </header>
                <div class="b-form-param__param">
                    <div>
                        <input type="checkbox" id="coding" name="interest" value="coding">
                        <label for="coding">Белый/серый (0)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="music" name="interest" value="music">
                        <label for="music">Бежевый/жёлтый (7)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="coding" name="interest" value="coding">
                        <label for="coding">Белый/серый (0)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="music" name="interest" value="music">
                        <label for="music">Бежевый/жёлтый (7)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="coding" name="interest" value="coding">
                        <label for="coding">Белый/серый (0)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="music" name="interest" value="music">
                        <label for="music">Бежевый/жёлтый (7)</label>
                    </div>
                </div>
            </div>
            <div class="b-form-param__item">
                <header class="b-form-param__header">
                    <div class="b-form-param__head">Порода дерева</div> <div class="b-form-param__head-arrow"></div>
                </header>
                <div class="b-form-param__param">
                    <div>
                        <input type="checkbox" id="coding" name="interest" value="coding">
                        <label for="coding">Белый/серый (0)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="music" name="interest" value="music">
                        <label for="music">Бежевый/жёлтый (7)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="coding" name="interest" value="coding">
                        <label for="coding">Белый/серый (0)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="music" name="interest" value="music">
                        <label for="music">Бежевый/жёлтый (7)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="coding" name="interest" value="coding">
                        <label for="coding">Белый/серый (0)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="music" name="interest" value="music">
                        <label for="music">Бежевый/жёлтый (7)</label>
                    </div>
                </div>
            </div>
        </form>
</nav>