<footer class="b-footer b-footer_inner">
    <nav class="b-nav b-nav_footer">
        <a class="b-nav__item" href="#">КАТАЛОГ ПРОДУКЦИИ</a>
        <a class="b-nav__item" href="#">АКЦИИ И ПРЕДЛОЖЕНИЯ</a>
        <a class="b-nav__item" href="#">ДЛЯ ПАРТНЕРОВ</a>
        <a class="b-nav__item" href="#">ОПТОВЫМ ПОКУПАТЕЛЯМ</a>
    </nav>
    <div class="b-footer__requisites">
        <div class="requisites">
            <div class="requisites__item">
                <p>ТОО &laquo;BASCOR&raquo;</p>
                <p>Юр&nbsp;адрес г.Астана, Евгения Брусиловского, 17/1</p>
                <p>филиал г.Астана АО&nbsp;&laquo;КАЗКОММЕРЦБАНК&raquo;</p>
            </div>
            <div class="requisites__item">
                <p>БИК KZKOKZKX</p>
                <p>БИН 170240002879</p>
                <p>ИИК KZ45 9261 5011 9318 4000</p>
            </div>
        </div>
    </div>
    <a href="#" class="b-btn b-btn_footer ">КАРТА ПРОЕЗДА</a>
</footer>


