<header class="b-header clearfix">
    <div class="b-header__inner">
        <a href="#" class="b-header__logo">
            <img src="../img/logo.png" alt="">
        </a>

        <nav class="b-nav">
            <a class="b-nav__item" href="#">АКЦИИ</a>
            <a class="b-nav__item" href="#">ОТЗЫВЫ</a>
            <a class="b-nav__item" href="#">вопросы</a>
            <a class="b-nav__item" href="#">галерея</a>
            <a class="b-nav__item" href="#">Ткани</a>
            <a class="b-nav__item" href="#">контакты</a>
        </nav>

        <div class="b-header__phone">
            <a href="tel:+77472442575">+7 747 244 25 75</a>
        </div>

        <a href="#" class="b-btn">Заказать звонок</a>
    </div>
</header>


