<header class="b-header">
        <a href="#" class="b-header__logo">
            <img src="../img/logo.png" alt="">
        </a>

        <nav class="b-nav">
            <a class="b-nav__item" href="#">ГЛАВНАЯ</a>
            <a class="b-nav__item" href="#">О КОМПАНИИ</a>
            <a class="b-nav__item" href="#">КАТАЛОГ ПРОДУКЦИИ</a>
            <a class="b-nav__item" href="#">НОВОСТИ</a>
            <a class="b-nav__item" href="#">КОНТАКТЫ</a>
        </nav>

        <a href="#" class="b-btn b-btn_header">Заказать звонок</a>
</header>


