<div class="hidden">
    <div id="modalbox_call" class="b-modal">
        <form action="" class="b-form-popup">
            <div class="arcticmodal-close">закрыть</div>
            <div class="b-form-popup__head">ОБРАТНАЯ СВЯЗЬ</div>
            <div class="b-form-popup__item">
                <input type="text" class="input-style" placeholder="Введите ваше имя*">
            </div>
            <div class="b-form-popup__item">
                <input type="text" class="input-style" placeholder="Контактный телефон*">
            </div>
            <div class="b-form-popup__item">
                <input type="text" class="input-style" placeholder="Электронная почта">
            </div>
            <input type="submit" class="b-btn b-btn_popup" value="ОТПРАВИТЬ">
        </form>
    </div>
</div>