<div class="b-slider js-slider">
    <div class="b-slider__item">
        <div class="b-slider__img" style="background-image: url('../img/slider-1.jpg')"></div>
        <div class="b-slider__caption">
            <div class="b-slider__head">ДЕТСКИЙ ТЕКСТИЛЬ</div>
            <p class="b-slider__title">для защиты и удобства вашего ребенка</p>
            <p class="b-slider__name">Постельное белье от <span>8 000 тенге</span></p>
            <a href="#" class="b-btn b-btn_slider">Заказать</a>
        </div>
    </div>
    <div class="b-slider__item">
        <div class="b-slider__img" style="background-image: url('../img/slider-1.jpg')"></div>
        <div class="b-slider__caption">
            <div class="b-slider__head">ДЕТСКИЙ ТЕКСТИЛЬ</div>
            <p class="b-slider__title">для защиты и удобства вашего ребенка</p>
            <p class="b-slider__name">Постельное белье от <span>8 000 тенге</span></p>
            <a href="#" class="b-btn b-btn_slider">Заказать</a>
        </div>
    </div>
    <div class="b-slider__item">
        <div class="b-slider__img" style="background-image: url('../img/slider-1.jpg')"></div>
        <div class="b-slider__caption">
            <div class="b-slider__head">ДЕТСКИЙ ТЕКСТИЛЬ</div>
            <p class="b-slider__title">для защиты и удобства вашего ребенка</p>
            <p class="b-slider__name">Постельное белье от <span>8 000 тенге</span></p>
            <a href="#" class="b-btn b-btn_slider">Заказать</a>
        </div>
    </div>
    <div class="b-slider__item">
        <div class="b-slider__img" style="background-image: url('../img/slider-1.jpg')"></div>
        <div class="b-slider__caption">
            <div class="b-slider__head">ДЕТСКИЙ ТЕКСТИЛЬ</div>
            <p class="b-slider__title">для защиты и удобства вашего ребенка</p>
            <p class="b-slider__name">Постельное белье от <span>8 000 тенге</span></p>
            <a href="#" class="b-btn b-btn_slider">Заказать</a>
        </div>
    </div>
    <div class="b-slider__item">
        <div class="b-slider__img" style="background-image: url('../img/slider-1.jpg')"></div>
        <div class="b-slider__caption">
            <div class="b-slider__head">ДЕТСКИЙ ТЕКСТИЛЬ</div>
            <p class="b-slider__title">для защиты и удобства вашего ребенка</p>
            <p class="b-slider__name">Постельное белье от <span>8 000 тенге</span></p>
            <a href="#" class="b-btn b-btn_slider">Заказать</a>
        </div>
    </div>
    <div class="b-slider__item">
        <div class="b-slider__img" style="background-image: url('../img/slider-1.jpg')"></div>
        <div class="b-slider__caption">
            <div class="b-slider__head">ДЕТСКИЙ ТЕКСТИЛЬ</div>
            <p class="b-slider__title">для защиты и удобства вашего ребенка</p>
            <p class="b-slider__name">Постельное белье от <span>8 000 тенге</span></p>
            <a href="#" class="b-btn b-btn_slider">Заказать</a>
        </div>
    </div>
</div>


